<div class="row">
    <img class="nav_profile profile-image">&nbsp;&nbsp;
    <span>
        <p class="current-user profile_name font-weight-bold"></p>
    </span>
</div><br />
<div class="row">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="@Url.Action("Home","Home",new { area="Member"})">
                <i class="fa fa-newspaper-o"></i> News Feed
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="@Url.Action("Profile","Profile",new { area="Member"})">
                <i class="fa fa-edit"></i> Edit Profile
            </a>
        </li>
    </ul>
</div>