<div id="post" class="bg-light p-3">
    <i class="fa fa-image"></i> Photos<br>
    <div class="container">
        <div class="row">
            <div class="col-sm-6 photos p-2"></div>
            <div class="col-sm-6 photos p-2"></div>
        </div>
    </div><hr />
    <button class="alt-buttons w-100" style="border: none;background: none;outline:0px !important;">
        <a href="#">See All Photos V</a>
    </button>
</div>