<div id="post" class="container bg-light w-100">
    <div class="row p-3" id="cover-image" style="height: 200px;">
        <br />
        <div class="col-sm-12 col-lg-3">
            <img id="profile-image" height="100" width="100" /><span id="current-user"></span>
        </div>
    </div>
    <div class="row p-2">
        <div class="col-sm-12 col-lg-3">
            <button class="alt-buttons w-100" style="border: none;background: none;outline:0px !important;">
                <i class="fa fa-tachometer"></i> Timeline
            </button>
        </div>
        <div class="col-sm-12 col-lg-3">
            <button class="alt-buttons w-100" style="border: none;background: none;outline:0px !important;">
                <i class="fa fa-info-circle"></i> Intro
            </button>
        </div>
        <div class="col-sm-12 col-lg-3">
            <button class="alt-buttons w-100" style="border: none;background: none;outline:0px !important;">
                <i class="fa fa-users"></i> Friends
            </button>
        </div>
        <div class="col-sm-12 col-lg-3">
            <button class="alt-buttons w-100" style="border: none;background: none;outline:0px !important;">
                <i class="fa fa-image"></i> Photos
            </button>
        </div>
    </div>
</div>