@model List<Fakebook.PresentationLayer.Areas.Admin.ViewModels.PostVM>

@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Image Content</th>
            <th scope="col">Text Content</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <td><img src="@post.ImageContent" width="100" height="100"/></td>
                <td>@post.TextContent</td>
                <td>
                    <a href="/Admin/Post/Edit/@post.ID">
                        <button type="button" class="btn btn-primary">
                            <span class="fa fa-edit">&nbsp;Edit</span>
                        </button>
                    </a>
                </td>
                <td>
                    <button type="button" class="btn btn-danger delete" value="@post.ID">
                        <span class="fa fa-trash">&nbsp;Delete</span>
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts {
    <script>
        $(".delete").each(function () {
            $(this).click(function () {
                var x = confirm("Are you sure!!");
                if (x) {
                    $.get('/Admin/Post/Delete/' + $(this).val());
                }
            });
        });
    </script>
}