
@{
    Layout = "~/Views/_Layout.cshtml";
}
    <form action="@Url.Action("Login","Account")" method="post">
        <input style="padding:5px;" type="text" name="Email" placeholder="abc@abc.com" required="" />
        <input style="padding:5px;" type="password" name="Password" class="padding" placeholder="*****" required="" />
        <input type="submit" value="Log In" style="padding:5px;color:white;background-color:#385499;border:1px solid white;">
    </form>
