@{
    ViewBag.Title = "Profile";
    Layout = "~/Areas/Member/Views/Shared/_LayoutProfile.cshtml";
}
<div class="row">
    <div class="col-sm-12 col-lg-5">
        <div id="post" class="bg-light p-3">
            <div class="row p-2">
                <i class="fa fa-info-circle"></i>&nbsp;Intro
            </div>
            <div class="row pl-4">
                <span id="current-user"></span>
            </div>
            <div class="row pl-4">
                <i class="fa fa-address-book"></i>&nbsp;<span id="current-user-email"></span>
            </div>
        </div>
        <div id="post" class="bg-light p-3">
            <i class="fa fa-image"></i> Photos<br>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 photos p-2"></div>
                    <div class="col-sm-6 photos p-2"></div>
                </div>
            </div><hr />
            <button class="alt-buttons w-100" style="border: none;background: none;outline:0px !important;">
                <a href="#">See All Photos V</a>
            </button>
        </div>
    </div>
    <div class="col-sm-12 col-lg-7">
        @Html.Partial("PostWrite")
        @{Html.RenderAction("GetPosts", "Profile");}
    </div>
</div>
<audio id="carteSoudCtrl">
    <source src="~/Sounds/like.mp3" type="audio/mpeg">
</audio>
@section scripts {
    <script>
        $.get('@Url.Action("GetPhotos", "Profile")', function (data) {
                var json = JSON.parse(data);
                var count = 0;
                json.forEach(function (item) {
                    if (count == 0) {
                        var img = $('<img />').attr({
                            'src': item.Base64,
                            'width': 100,
                            'width': 100
                        }).appendTo($('.photos')[0]);
                        count++;
                    }
                    else if (count == 1) {
                        var img = $('<img />').attr({
                            'src': item.Base64,
                            'width': 100,
                            'width': 100
                        }).appendTo($('.photos')[1]);
                        count = 0;
                    }
                });
            });
        $(".alt-buttons").hover(function () {
            $(this).css("cursor", "pointer");
        });
        var count = 0;
        $(".commentClick").click(function () {
            $('#carteSoudCtrl')[0].play();
            if (count == 0) {
                $('.write-comment').css("display", "");
                count++;
            }
            else if (count == 1) {
                $('.write-comment').css("display", "none");
                count = 0;
            }
        });
        $(".like").click(function () {
            $('#carteSoudCtrl')[0].play();
            if (count == 0) {
                $(this).children("#like-text").css("color", "blue");
                $(this).children("#like-text").html("Liked");
                $(this).children("#like-icon").css("color", "blue");
                count++;
                like($(this).children("p").attr('id'));
            }
            else if (count == 1) {
                $(this).children("#like-text").css("color", "black");
                $(this).children("#like-text").html("Like");
                $(this).children("#like-icon").css("color", "black");
                count = 0;
                unlike($(this).children("p").attr('id'));
            }
        });
        function like(param) {
            var url = '@Url.Action("PostLike", "Home")';
            $.post(url, { id: param });
        };
        function unlike(param) {
            var url = '@Url.Action("PostUnlike", "Home")';
            $.post(url, { id: param });
        };
    </script>
}

