<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <title>Login</title>
    @RenderSection("head", required: false)
</head>
<body style="background-color: #E4E6F2;">
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #385499;">
        <a class="navbar-brand" href="#">
            <img src="~/Images/logo.png" width="30" height="30" class="d-inline-block align-top" alt="">
            Fakebook
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto"></ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    @RenderBody()
                </li>
            </ul>
        </div>
    </nav>

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <br /><br />
                <img src="~/Images/homepage.png" style="width: 100%; height: 100%;" />
            </div>
            <div class="col-sm-6">
                <br /><br />
                      <form action="@Url.Action("Register","Account")" method="post">
                          <div class="row">
                              <input style="padding:5px;" type="text" name="FirstName" placeholder="FirstName" required="" />
                              &nbsp;&nbsp;
                              <input style="padding:5px;" type="text" name="LastName" placeholder="LastName" required="" />
                          </div><br />
                          <div class="row">
                              <input style="padding:5px; width: 385px;" type="text" name="Email" placeholder="Email" required="" />
                          </div><br />
                          <div class="row">
                              <input style="padding:5px; width: 385px;" type="password" name="Password" placeholder="Password" required="" />
                          </div><br />
                          <div class="row">
                              <input type="submit" value="Create An Account" style="padding:5px;color:white;background-color:green;width: 385px;">
                          </div>
                          
                      </form>
            </div>
        </div>
    </div>
    
</body>
</html>
