<nav class="navbar sticky-top navbar-expand-lg navbar-dark" style="background-color: #385499;">
    <a class="navbar-brand" href="#">
        <img src="https://p.apk4fun.com/f5/98/e1/com.facebook.lite-logo.jpg" width="30" height="30" class="d-inline-block align-top" alt="">
        Fakebook
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
        <!--<form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>-->
        <ul class="navbar-nav mr-auto"></ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link active" href="@Url.Action("Home","Home",new { area="Member"})">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="@Url.Action("Profile","Profile",new { area="Member"})">Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="@Url.Action("Logout","Account",new { area=""})">Logout</a>
            </li>
        </ul>
    </div>
</nav>